<%- include("partials/header") %>

   


    
<% posts.forEach(function(element){ %>
  <h1> <%= element.title; %></h1> 
  <p> <%=  element.content.substring(0,100)+"..." %> 
    <a href="/blogs/<%=element.title%>">Read more</a>
  </p> 
<% }) %>







<%- include("partials/footer") %>